.pokeballkk {
  height: 90px;
  aspect-ratio: 1;
  position: relative;
}

.pokeballkk::before,
.pokeballkk::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  transform-origin: bottom;
}

.pokeballkk::after {
  background: radial-gradient(at 75% 15%,#fffb,#0000 35%),
    radial-gradient(at 80% 40%,#0000,#0008),
    radial-gradient(circle  5px,#fff 94%,#0000),
    radial-gradient(circle 10px,#000 94%,#0000),
    linear-gradient(#F93318 0 0) top   /100% calc(50% - 5px),
    linear-gradient(#fff    0 0) bottom/100% calc(50% - 5px)
    #000;
  background-repeat: no-repeat;
}

.pokeballkk::before {
  background: #ddd;
  filter: blur(8px);
  transform: scaleY(0.4) translate(-13px, 0px);
}

@keyframes l20 {

  30%,70% {
    transform: rotate(0deg)
  }

  49.99% {
    transform: rotate(0.2deg)
  }

  50% {
    transform: rotate(-0.2deg)
  }
}

/* COLORS */
:root {
  --pokeball-red: #e52129;
  --pokeball-white: #efefef;
  --pokeball-band: #000000;
  --pokeball-inside: #dfe7e6;
}
/* CONTAINER */
.pokeball {
  height: 100px;
  aspect-ratio: 1;
  position: relative;
  /* animation: l20 1s infinite cubic-bezier(0.5,120,0.5,-120); */
}
/* BAND */
.pokeball .band {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 10%;
  background: var(--pokeball-band);
  transform: translateY(-50%);
}
/* CENTER */
.pokeball .band .center {
  width: 10%;
  background: var(--pokeball-red);
  border-width: 10px;
  border-color: var(--pokeball-band);
}
/* COMMON STYLES WITH PSEUDO ELEMENTS */
.pokeball .band .center, .pokeball .band .center::after, .pokeball .band .center::before{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-style: solid;
}
/* PSEUDO ELEMENTS */
.pokeball .band .center::after, .pokeball .band .center::before{
  content: "";
  width: 100%;
  background: rgba(0, 0, 0, 0);
}
/* PSEUDO ELEMENT BEFORE */
.pokeball .band .center::before {
  border-width: 6px;
  border-color: var(--pokeball-white);
}
/* PSEUDO ELEMENT AFTER */
.pokeball .band .center::after {
  border-width: 2px;
  border-color: var(--pokeball-band);
}
/* COMMON STYLES TOP AND BOTTOM */
.pokeball .top-half, .pokeball .bottom-half{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
/* TOP */
.pokeball .top-half{
  background: radial-gradient(at 75% 15%,#fffb,#0000 35%),linear-gradient(var(--pokeball-red) 0 0) top   /100% calc(50% - 5px);
  background-repeat: no-repeat;
  z-index: -1;
}
/* BOTTOM */
.pokeball .bottom-half{
  background: radial-gradient(at 80% 40%,#0000,#0008),linear-gradient(var(--pokeball-white)    0 0) bottom/100% calc(50% - 5px);
  background-repeat: no-repeat;
  z-index: -2;
}